

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .header{
  text-align: center;
  font-size: 1.5rem;
}

.header .categories {
  text-align: center;
}

.header .categories a {
 margin: 35px;
} */

.card-wrap {
  justify-content: center;
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin: 5px;
  justify-content: center;
  /* width: 13rem;
  height: 35rem; */
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.img-recipe {
  height: 550px;
  margin: 50px
}

.description {
  margin: 25px;
  text-align: center;
}

.ingridients {
  text-align: center;
}

.procedure {
  text-align: center;
}
